<script id="refbrowser-template" type="text/x-handlebars-template">
    <div class="refbrowser overlay">
            <div class="pathbar">
                <div class="path"></div>
                <div class="search">
                    <input class="searchField" name="refbrowser-search" type="text" />
                    <button class="searchButton" name="refbrowser-search" type="submit">{{search}}</button>
                </div>
            </div>
            <div class="listing">
                <ul></ul>
            </div>
            <div class="formcontrols">
                <div class="closecontainer">
                 <button type="cancel" class="cancel">{{close}}</button>
                </div>
                <div class="batchingcontainer" />
            </div>
    </div>
</script>

<script id="node-template" type="text/x-handlebars-template">
    <a data-path="{{path}}" href="#" data-clickable={{clickable}}>{{title}}</a>
</script>

<script id="listing-template" type="text/x-handlebars-template">
    <li class="ref_list_entry {{addclass}}" data-traversable="{{traversable}}" data-path="{{path}}" data-id="{{id}}">
        {{{checkbox}}}
        <{{{tag}}} class="{{content-type}}" {{{extras}}}> {{title}} </{{{tag}}}>
    </li>
</script>

<script id="checkbox-template" type="text/x-handlebars-template">
        <input type="{{type}}" class="ref-checkbox" {{{selected}}} name="{{name}}" value="{{path}}" />
</script>

<script id="batch_template" type="text/x-handlebars-template">
        <div class="refbrowser_batching">
            {{{batching}}}
        </div>
</script>
