<script id="refbrowser-template" type="text/x-handlebars-template">
    <div class="refbrowser overlay">
            <div class="pathbar">
                <div class="path"></div>
                <div class="search">
                    <input class="searchField" name="refbrowser-search" type="text" />
                    <button class="searchButton" name="refbrowser-search" type="submit">{{search}}</button>
                    <label for="searchCurrentPath" class="searchCurrentPathLabel">
                        {{search_current_path}}
                        <input type="checkbox" name="refbrowser-search-current-path" id="searchCurrentPath">
                    </label>
                </div>
            <div class="sorter"></div>
            </div>

            <div class="listing">
                <ul></ul>
            </div>
            <div class="formcontrols">
                <div class="closecontainer">
                 <button type="cancel" class="cancel">{{close}}</button>
                </div>
                <div class="batchingcontainer" />
            </div>
    </div>
</script>

<script id="node-template" type="text/x-handlebars-template">
    <a data-path="{{path}}" href="#" data-clickable={{clickable}}>{{title}}</a>
</script>

<script id="listing-template" type="text/x-handlebars-template">
    <li class="ref_list_entry {{addclass}}" data-traversable="{{traversable}}" data-path="{{path}}" data-id="{{id}}">
        {{{checkbox}}}
        <{{{tag}}} class="{{content-type}}" {{{extras}}}> {{title}} </{{{tag}}}>
    </li>
</script>

<script id="checkbox-template" type="text/x-handlebars-template">
        <input type="{{type}}" class="ref-checkbox" {{{selected}}} name="{{name}}" value="{{path}}" />
</script>

<script id="batch_template" type="text/x-handlebars-template">
        <div class="refbrowser_batching">
            {{{batching}}}
        </div>
</script>

<script id="sort-template" type="text/x-handlebars-template">
    {{label_sort_by}}
    <select name="sort_on">
        {{#each sortOnOptions}}
            <option value="{{this.value}}" {{#if this.selected}}SELECTED="SELECTED"{{/if}}>
                {{this.title}}
            </option>
        {{/each}}
    </select>
    <select name="sort_order">
        {{#each sortOrderOptions}}
            <option value="{{this.value}}" {{#if this.selected}}SELECTED="SELECTED"{{/if}}>
                {{this.title}}
            </option>
        {{/each}}
    </select>

</script>
