div.refbrowser .listing li {
    display:block;
    min-height: 1.4em;
}

div.refbrowser .pathbar{
    background: #ccc;
    padding: 1em 1em 1em 1em;
    width:100%;
    min-height:80px;
    zoom: 1;
}
div.refbrowser .path {
    min-width: 65%;
    width:auto;
    float:left;
    max-width: 80%;
}

div.refbrowser .pathbar a:hover {
    text-decoration: none;
    color: #CC3A2C;
}
div.refbrowser .pathbar a:not(:last-child)::after{
    content: "\2192";
    display:inline;
    padding-left: 3px;
    padding-right: 3px;
}

div.refbrowser .pathbar a:hover::after{
    color: #3B234A;
}

  div.refbrowser .pathbar:before, div.refbrowser .pathbar:after {
    content: "\0020";
    display: block;
    height: 0;
    visibility: hidden;
  }
  div.refbrowser .pathbar:after { clear: both; }


div.refbrowser .search{
    float: left;
}
div.refbrowser .search input{
    min-width: 180px;
}

div.refbrowser .search button{
    float:right;
}
div.refbrowser .listing {
    overflow-y: auto;
    position: absolute;
    top: 0;
    bottom: 4em;
    left: 0;
    right: 0;
}

.refbrowser .listing span {
    padding-left: 0.5em;
}
div.refbrowser {
    position: fixed;
    left: 15%;
    right: 15%;
    top: 10%;
    background: #ffffff;
    border: 1px solid black;
    z-index: 2147483647;
    height: 100%;
    max-height: 80vh;
}

div.refbrowser .shadow{
    max-height: 64vh;
    overflow-y: auto;
}
div.refbrowser .formcontrols {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background:#f5f5f5;
    padding: 0.5em 0 0.5em 0;
    height:4em;
}

div.refbrowser .formcontrols button {
    margin:0;
}

div.refbrowser .closecontainer {
    width: 20%;
    float:left;
}

div.refbrowser .batchingcontainer {
    width:80%;
    float:left;
}

div.refbrowser .formcontrols .pagination.listingBar {
    margin 0;
}
div.refbrowser .formcontrols .pagination.listingBar a {
    margin-bottom: 0;
}
