div.refbrowser .listing li {
    display:block;
    height: 1.4em;
}

div.refbrowser .pathbar{
    background: #ccc;
    padding: 1em 1em 1em 1em;
    width:100%;
    min-height:80px;
}
div.refbrowser .path {
    min-width: 65%;
    width:auto;
    float:left;
}

div.refbrowser .search{
    float: left;
}
div.refbrowser .search input{
    width:100%;
    min-width: 180px;
}
div.refbrowser .listing {
    padding-left: 0.5em;
    width:100%;
}

.refbrowser .listing span {
    padding-left: 0.5em;
}
div.refbrowser {
    position: absolute;
    left: 15%;
    width: 70%;
    top: 20%;
    background: #ffffff;
    border: 1px solid black;
    z-index: 2147483647;
}
